.menu {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;

  &--horizontal > div {
    margin: 0;
  }

  &__item {
    margin-bottom: 1rem;
    
    width: 100%;
    max-width: 100%;
  }
}
