.logo {
    width: 10%;
    height: 10%;
    max-width: 80px;
    max-height: 80px;

    animation-name: logoAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    border-radius: 50%;
}