$settings-text: white;
$settings-background: rgba(56, 56, 56, 0.3);

$settings-nav-background: $settings-background;

$settings-btn-text: $settings-text;
$settings-btn-borders: rgba(49, 49, 49, 0.3);
$settings-btn-background: rgba(49, 49, 49, 0.3);
$settings-btn-hover: rgba(17, 17, 17, 0.822);

$settings-btn-back-text: $settings-text;
$settings-btn-back-borders: rgba(29, 29, 29, 0.5);
$settings-btn-back-background: rgba(31, 31, 31, 0.5);
$settings-btn-back-hover: rgba(17, 17, 17, 0.822);

$settings-option-even-text: $settings-text;
$settings-option-even-background: rgba(39, 39, 39, 0.4);
$settings-option-odd-text: $settings-text;
$settings-option-odd-background: rgba(79, 79, 79, 0.4);

.settings {
  width: 100%;
  height: 100%;
  display: grid;

  * {
    color: $settings-text;
  }

  background-color: $settings-background;

  &__container {
    width: 100% !important;
    height: 100% !important;

    display: flex;
    flex-wrap: wrap;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: $settings-nav-background;

    & > .navigation__item {
      width: 100%;

      display: flex;
      flex-direction: column;

      &.link a {
        padding: 1rem 1rem;
        color: $settings-btn-text;
        font-size: 1.4rem;
        text-decoration: none;

        display: flex;
        align-items: center;

        &:hover {
          background-color: $settings-btn-hover;
        }
      }

      border: 1px solid $settings-btn-borders;
      background-color: $settings-btn-background;

      &.back {
        * {
          color: $settings-btn-back-text;
        }

        position: relative;

        border: 1px solid $settings-btn-back-borders;
        background-color: $settings-btn-back-background;

        &:hover {
          background-color: $settings-btn-back-hover;
        }
      }
    }
  }

  &__content {
    & .title {
      padding: 1rem;
      background-color: white;
      position: relative;

      h1 {
        cursor: default;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        user-select: none;
        margin: 0 !important;
        text-align: center;
        white-space: nowrap;
        color: black;

        &:before,
        &:after {
          background-color: #c50000;
          content: '';
          display: block;
          height: 0.25rem;
          width: 55%;
        }

        &:before {
          margin-right: auto;
          margin-bottom: 1rem;
        }

        &:after {
          margin-left: auto;
          margin-top: 1rem;
        }
      }
    }

    & .option {
      margin: 0 !important;
      min-height: 3rem;

      &:nth-child(even) {
        *:not(.button) * {
          color: $settings-option-even-text;
        }

        background-color: $settings-option-even-background;
      }

      &:nth-child(odd) {
        *:not(.button) *  {
          color: $settings-option-odd-text;
        }

        background-color: $settings-option-odd-background;
      }
    }
  }

  .section {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;

    &__container {
      display: flex;
      width: 100%;
      height: 100%;

      background-color: rgba(white, 0.1);
    }
  }
}
