.dws--content {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

/* Settings side navigation */
.dws--side-nav
.dws--side-nav__items {
  padding-top: 0;

  a.dws--side-nav__link {
    min-block-size: 3rem;

    span {
      font-size: var(--dws-body-02-font-size, 1rem);
    }
  }

  .dws--side-nav__item {
    a, a:focus,
    a > span {
      outline: none;
      text-transform: capitalize;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }

    &:hover,
    &:active,
    &:focus,
    &--active {
      cursor: pointer;
      outline: none;
      background-color: lighten(#000, 15%);

      a > span {
        color: white;
        text-transform: capitalize;
      }
    }

    &--active > *:first-child::before {
      background-color: var(--cds-border-interactive, #0f62fe);
      content: "";
      inline-size: 3px;
      inset-block-end: 0;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
    }

    &.bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &.back {
      margin: 0;
      margin-bottom: 1rem;

      & button {
        width: 100%;
        outline: none;
        text-transform: capitalize;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
      }
    
      & .dws--btn__icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}