.zone-navigator {
    margin: 0;
    padding: 0;
    background-color: white;

    & > div {
        margin: 0;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: black;
        padding: 1rem;
        width: 100%;
        height: calc(100% / $max-players);

        font-size: 2rem;
        font-weight: 400;

        color: black;
        background-color: rgba(0, 0, 0, 0.193);

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            color: white;
            background-color: rgba(0, 0, 0, 0.7);

            .arrow { 
                border-color: white;
            }
        }
    }
}