
$white: #fff;
$black: #000;
$transparent: #00000000;

// Base Colors
//$golden: #ffc400;
//$golden-darken: #a75a1b;

//$gray: #474747;
//$gray-lighten: #ffffff;
//$gray-darken: #393939;

//$link: #ffd578;
//$link-darken: #97670083;