@use 'sass:math';
@import '../mixins/columnSystem.scss';

$card-aspect-ratio-width: 1;
$card-aspect-ratio-height: 1.5;

$card-width: calc(18vh * $card-aspect-ratio-width);
$card-height: calc(18vh * $card-aspect-ratio-height);

$num-columns: calc(16 * $card-aspect-ratio-width);
$column-width: calc($card-width / $num-columns);
$num-rows: calc(16 * $card-aspect-ratio-height);
$row-height: calc($card-height / $num-rows);

.gcard {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 0.6rem;
  width: $card-width;
  height: $card-height;

  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  background-color: white;

  display: grid;
  grid-template-columns: repeat($num-columns, $column-width);
  grid-template-rows: repeat($num-rows, $row-height);

  font-size: 1.2vh;

  &--name,
  &--image,
  &--type {
    display: block;
  }

  $first-row: 1;
  $first-column: 1;

  &--name {
    grid-row-start: $first-row;
    grid-row-end: math.round(calc($first-row + calc($num-rows * 0.075)));
    grid-column-start: math.round(calc($num-columns / 4));
    grid-column-end: -(math.round(calc($num-columns / 4)));
  }

  &--image {
    grid-row-start: math.round(calc($first-row + calc($num-rows * 0.075)));
    grid-row-end: math.round(calc($first-row + calc($num-rows * 0.4)));
    grid-column-start: $first-column;
    grid-column-end: -$first-column;
  }

  &--type {
    $type-row: math.round(calc($first-row + calc($num-rows * 0.4)));
    grid-row-start: $type-row;
    grid-row-end: math.round(calc($type-row + calc($num-rows * 0.075)));
    grid-column-start: math.round(calc($num-columns / 4));
    grid-column-end: -(math.round(calc($num-columns / 4)));
  }

  &__details {
    $type-row: math.round(calc($first-row + calc($num-rows * 0.4)));
    grid-row-start: math.round(calc($type-row + calc($num-rows * 0.075)));
    grid-row-end: -$first-row;
    grid-column-start: math.round(calc($num-columns / 4));
    grid-column-end: -(math.round(calc($num-columns / 4)));
  }

  &__tooltip {
    visibility: hidden;
    width: $card-width;
    height: $card-height;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 100%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &.leader {}

  &.equipment {}

  &.spell {}

  &.warrior {
    &.common {}

    &.uncommon {}

    &.rare {}

    &.epic {}

    &.legendary {}

    &.mithic {}
  }

  &:hover {
    z-index: 10000;
    transform: scale(1.2);

    .gcard__tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}