@use '@carbon/styles/scss/config' with (
  $prefix: 'dws'
);
@forward '@carbon/styles/scss/spacing';
@forward '@carbon/styles/scss/colors' hide $white;
@forward '@carbon/styles/scss/motion';
@forward '@carbon/styles/scss/type';
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/theme' with (
  $fallback: themes.$g100,
  $theme: (
    background: #161616,
    background-active: rgba(141, 141, 141, 0.4),
    background-brand: #8ABF2C, /* 60% */
    background-hover: rgba(141, 141, 141, 0.16),
    background-inverse: #f4f4f4,
    background-inverse-hover: #e8e8e8,
    background-selected: rgba(141, 141, 141, 0.24),
    background-selected-hover: rgba(141, 141, 141, 0.32),
    border-disabled: rgba(141, 141, 141, 0.5),
    border-interactive: #9BCF42, /* 50% */
    border-inverse: #f4f4f4,
    border-strong-01: #6f6f6f,
    border-strong-02: #8d8d8d,
    border-strong-03: #a8a8a8,
    border-subtle-00: #393939,
    border-subtle-01: #525252,
    border-subtle-02: #6f6f6f,
    border-subtle-03: #6f6f6f,
    border-subtle-selected-01: #6f6f6f,
    border-subtle-selected-02: #8d8d8d,
    border-subtle-selected-03: #8d8d8d,
    border-tile-01: #525252,
    border-tile-02: #6f6f6f,
    border-tile-03: #8d8d8d,
    button-separator: #e0e0e0,
    button-primary: #8ABF2C, /* 60% */
    button-secondary: #393939,
    button-tertiary: #8ABF2C, /* 60% */
    button-danger-primary: #da1e28,
    button-danger-secondary: #da1e28,
    button-danger-active: #750e13,
    button-primary-active: #406214, /* 20% */
    button-secondary-active: #6f6f6f,
    button-tertiary-active: #406214, /* 20% */
    button-danger-hover: #b81921,
    button-primary-hover: #78A628, /* 40% */
    button-secondary-hover: #474747,
    button-tertiary-hover: #78A628, /* 40% */
    button-disabled: #c6c6c6,
    chat-avatar-agent: #c6c6c6,
    chat-avatar-bot: #8d8d8d,
    chat-avatar-user: #9BCF42, /* 50% */
    chat-bubble-agent: #262626,
    chat-bubble-border: #525252,
    chat-bubble-user: #393939,
    chat-button: #ADD956, /* 40% */
    chat-button-active: rgba(141, 141, 141, 0.4),
    chat-button-hover: rgba(141, 141, 141, 0.16),
    chat-button-selected: rgba(141, 141, 141, 0.24),
    chat-button-text-hover: #BFE26A, /* 30% */
    chat-button-text-selected: #c6c6c6,
    chat-header-background: #262626,
    chat-prompt-background: #161616,
    chat-prompt-border-end: rgba(38, 38, 38, 0),
    chat-prompt-border-start: #262626,
    chat-shell-background: #262626,
    field-01: #262626,
    field-02: #393939,
    field-03: #525252,
    field-hover-01: #333333,
    field-hover-02: #474747,
    field-hover-03: #636363,
    focus: #ffffff,
    focus-inset: #161616,
    focus-inverse: #8ABF2C, /* 60% */
    highlight: #406214, /* 20% */
    icon-disabled: rgba(244, 244, 244, 0.25),
    icon-interactive: #ffffff,
    icon-inverse: #161616,
    icon-on-color: #ffffff,
    icon-on-color-disabled: rgba(255, 255, 255, 0.25),
    icon-primary: #f4f4f4,
    icon-secondary: #c6c6c6,
    interactive: #9BCF42, /* 50% */
    layer-01: #262626,
    layer-02: #393939,
    layer-03: #525252,
    layer-accent-01: #393939,
    layer-accent-02: #525252,
    layer-accent-03: #6f6f6f,
    layer-accent-active-01: #6f6f6f,
    layer-accent-active-02: #8d8d8d,
    layer-accent-active-03: #393939,
    layer-accent-hover-01: #474747,
    layer-accent-hover-02: #636363,
    layer-accent-hover-03: #5e5e5e,
    layer-active-01: #525252,
    layer-active-02: #6f6f6f,
    layer-active-03: #8d8d8d,
    layer-hover-01: #333333,
    layer-hover-02: #474747,
    layer-hover-03: #636363,
    layer-selected-01: #393939,
    layer-selected-02: #525252,
    layer-selected-03: #6f6f6f,
    layer-selected-disabled: #a8a8a8,
    layer-selected-hover-01: #474747,
    layer-selected-hover-02: #636363,
    layer-selected-hover-03: #5e5e5e,
    layer-selected-inverse: #f4f4f4,
    link-inverse: #8ABF2C, /* 60% */
    link-inverse-active: #161616,
    link-inverse-hover: #78A628, /* 40% */
    link-inverse-visited: #8a3ffc,
    link-primary: #ADD956, /* 40% */
    link-primary-hover: #BFE26A, /* 30% */
    link-secondary: #BFE26A, /* 30% */
    link-visited: #be95ff,
    overlay: rgba(0, 0, 0, 0.65),
    shadow: rgba(0, 0, 0, 0.8),
    skeleton-background: #292929,
    skeleton-element: #393939,
    support-caution-major: #ff832b,
    support-caution-minor: #f1c21b,
    support-caution-undefined: #a56eff,
    support-error: #fa4d56,
    support-error-inverse: #da1e28,
    support-info: #9BCF42, /* 50% */
    support-info-inverse: #78A628, /* 40% */
    support-success: #42be65,
    support-success-inverse: #24a148,
    support-warning: #f1c21b,
    support-warning-inverse: #f1c21b,
    text-disabled: rgba(244, 244, 244, 0.25),
    text-error: #ff8389,
    text-helper: #a8a8a8,
    text-inverse: #161616,
    text-on-color: #ffffff,
    text-on-color-disabled: rgba(255, 255, 255, 0.25),
    text-placeholder: rgba(244, 244, 244, 0.4),
    text-primary: #f4f4f4,
    text-secondary: #c6c6c6,
    toggle-off: #6f6f6f,
  )
);

@use '@carbon/styles/scss/reset';
@forward '@carbon/styles/scss/fonts';
@forward '@carbon/styles/scss/grid';
@forward '@carbon/styles/scss/layer';
@forward '@carbon/styles/scss/layout';
@forward '@carbon/styles/scss/zone';
@use '@carbon/styles/scss/components';